img {
  width: 50%;
  max-width: 30rem;
}
.room button {
  margin: 0.5rem;
}

ul.warnings {
  padding: 0;
}
ul.warnings li {
  list-style: none;
}

.room-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.room {
  border: 1px solid white;
}

.purchase button {
  margin: 1rem;
}

.purse {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.purse div {
  padding: 2rem;
}
