.room button {
  margin: 0.5rem;
}

.side-by-side {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
ul.warnings {
  padding: 0;
  li {
    list-style: none;
  }
}
.room-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.room {
  border: 1px solid white;
}

.purchase button {
  margin: 1rem;
}

.purse {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.purse div {
  padding: 2rem;
}
